{% extends "main.html" %}

{% block content %}
<div class="container mt-4">

    <h1 class="text-center text-primary fw-bold">Bem-Vindo(a) Alunos!</h1>
    <hr>

    {% for aluno in alunos %}
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h3 class="card-title text-dark">{{ aluno.nome }} {{ aluno.serie }}ºAno</h3>

            <!-- Botão alinhado à direita -->
            <div class="text-end">
                <a href="/cadastrar_nota?aluno_id={{ aluno.id }}" class="btn btn-primary btn-sm">Cadastrar Nota</a>
            </div>

            <div class="table-responsive mt-3">
                <table class="table table-striped table-hover text-center">
                    <thead class="table-dark">
                        <tr>

                            <th>Matéria</th>
                            <th>Trimestre 1 </th>
                            <th>Trimestre 2</th>
                            <th>Trimestre 3</th>
                            <th>Média</th>
                            <th>Ações</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for nota in aluno.notas %}
                        <tr>
                            <td>{{ nota.materia.nome }}</td>

                            <td>
                                <span class="{{nota.css(nota.nota1)}}">
                                    {{ nota.nota1 | default("")}}
                                </span>
                            </td>

                            <td>
                                <span class="{{nota.css(nota.nota2)}}">
                                    {{ nota.nota2 | default("")}}
                                </span>
                            </td>

                            <td>
                                <span class="{{nota.css(nota.nota3)}}">
                                    {{ nota.nota3 | default("")}}
                                </span>
                            </td>

                            <td>
                                <span class="{{nota.css(nota.media())}}">
                                    {{ nota.media() | default("")}}
                                </span>
                            </td>
                            
                            <td>
                                <a href="/deletar_nota?nota_id={{ nota.id }}" class="btn btn-danger btn-sm">Excluir
                                    Nota</a>
                                <a href="/atualizar_nota?nota_id={{ nota.id }}" class="btn btn-primary btn-sm">Editar
                                    Nota</a>
                            </td>




                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


