{% extends "site.html" %}

{% block content %}
<div>
    <div class="text-center mb-4">
        <h2 class="display-5 text-primary fw-bold">Cadastre-se</h2>
        <p class="text-muted">Preencha os campos abaixo para cadastrar um novo aluno.</p>
    </div>

    <form action="/cadastrar" method="POST" class="border p-4 rounded shadow-sm">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" name="nome" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" required placeholder="exemplo@email.com">
        </div>

        <div class="mb-3">
            <label for="serie" class="form-label">Série:</label>
            <input type="number" name="serie" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="escola" class="form-label">Escola:</label>
            <select class="form-select" name="escola_id" size="3" aria-label="Size 3 select example" required>
                {% for escola in escolas %}
                <option value="{{ escola.id }}">{{ escola.nome }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" name="senha" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="confirmacao_senha" class="form-label">Confirmar senha:</label>
            <input type="password" name="confirmacao_senha" class="form-control" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        </div>
    </form>  
    <div class="text-center">
        ou <a href="/login">Ou Entre</a>
      </div>
</div>
{% endblock %}
