{% extends "interno.html" %}

{% block content %}
<div class="container mt-4">
    <div class="display-5 text-center text-primary fw-bold">
        Bem-Vindo(a) às Escolas!
    </div>
    <hr>

    {% for escola in escolas %}
    <div class="mb-5">
        <h4 class="text-dark">{{ escola.nome }}</h4>

        <h5>Matérias:</h5>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Série</th>
                    </tr>
                </thead>
                <tbody>
                    {% for materia in escola.materias %}
                    <tr>
                        <td>{{ materia.nome }}</td>
                        <td>{{ materia.serie }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <form action="/cadastrar_materia" method="POST" class="border p-4 rounded shadow-sm">
            <input type="hidden" name="escola_id" value="{{ escola.id }}">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome da Matéria</label>
                <input type="text" name="nome" class="form-control" id="nome" required>
            </div>

            <div class="mb-3">
                <label for="serie" class="form-label">Série</label>
                <input type="number" name="serie" class="form-control" id="serie" required>
            </div>

            <button type="submit" class="btn btn-primary">Adicionar Matéria</button>
        </form>

        <br><br>
    </div>
    {% endfor %}
</div>
{% endblock %}
