{% extends "main.html" %}

{% block content %}
<div class="container">
    <div class="display-5">
        Bem-Vindo(a) as escolas!
    </div>
    <br>

    {% for escola in escolas %}
    <h4>Escola: {{escola.nome}}</h4>

    Matérias:
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Série
                </th>
            </tr>
        </thead>
        <tbody>
            {% for materia in escola.materias %}
            <tr>
                <td>
                    {{materia.nome}}
                </td>
                <td>{{materia.serie}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="/cadastrar_materia" method="POST">
        <input type="hidden" name="escola_id" value={{escola.id}}>
        <label for="nome"></label>
        <input type="text" name="nome">

        <label for="serie"></label>
        <input type="number" name="serie">
        <button type="submit">
            Adicionar
        </button>
    </form>

    <br>
    <br>
    <br>

    {% endfor %}
</div>
{% endblock %}