{% extends "interno.html" %}

{% block content %}
<div class="container mt-4">

    <h1 class="text-center text-primary fw-bold">Calcule suas médias, {{ aluno.nome }}!</h1>
    <hr>
    <h1>
        Escola: {{aluno.escola.nome}}
    </h1>

    {% for aluno in alunos %}
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h3 class="card-title text-dark">{{ aluno.nome }} {{ aluno.serie }}ºAno</h3>

            <!-- Botão alinhado à direita -->
            <div class="text-end">
                <a href="/cadastrar_nota?aluno_id={{ aluno.id }}" class="btn btn-primary btn-sm">Cadastrar Nota</a>
            </div>

            <div class="table-responsive mt-3">
                <table class="table table-light table-hover text-center">
                    <thead class="table-primary">
                        <tr>

                            <th>Matéria</th>
                            <th>Trimestre 1 </th>
                            <th>Trimestre 2</th>
                            <th>Trimestre 3</th>
                            <th>Média</th>
                            <th>Nota Esperada</th>
                            <th>Ações</th>
                         

                        </tr>
                    </thead>
                    <tbody>
                        {% for nota in aluno.notas %}
                        <tr class="text-center">
                            <td> <b> {{ nota.materia.nome }} </b></td>
                            <form action="/atualizar_nota" method="POST">
                                <input type="hidden" name="nota_id" value="{{nota.id}}">
                  
                                
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="{{nota.css(nota.nota1)}}" data-bs-toggle="collapse"
                                            data-bs-target="#editableInput1-{{nota.id}}" aria-expanded="false"
                                            aria-controls="editableInput1-{{nota.id}}" style="cursor: pointer;">
                                            {{ nota.nota1 | default("")}}
                                        </span>
                                
                                        <div class="collapse ms-2" id="editableInput1-{{nota.id}}">
                                            <input type="number" name="nota1" value="{{nota.nota1}}"
                                                class="form-control form-control-sm w-50">
                                        </div>
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="{{nota.css(nota.nota2)}}" data-bs-toggle="collapse"
                                            data-bs-target="#editableInput2-{{nota.id}}" aria-expanded="false"
                                            aria-controls="editableInput2-{{nota.id}}" style="cursor: pointer;">
                                            {{ nota.nota2 | default("")}}
                                        </span>
                                
                                        <div class="collapse ms-2" id="editableInput2-{{nota.id}}">
                                            <input type="number" name="nota2" value="{{nota.nota2}}"
                                                class="form-control form-control-sm w-50">
                                        </div>
                                    </div>
                                </td>
                                
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <span class="{{nota.css(nota.nota3)}}" data-bs-toggle="collapse"
                                                data-bs-target="#editableInput3-{{nota.id}}" aria-expanded="false"
                                                aria-controls="editableInput3-{{nota.id}}" style="cursor: pointer;">
                                                {{ nota.nota3 | default("")}}
                                            </span>

                                    
                                            <div class="collapse ms-2" id="editableInput3-{{nota.id}}">
                                                <input type="number" name="nota3" value="{{nota.nota3}}"
                                                    class="form-control form-control-sm w-50">
                                            </div>
                                        </div>
                                    </td>
                                

                                <td>
                                    <span class="{{nota.css(nota.media())}}">
                                        {{ nota.media() | default("")}}
                                    </span>
                                </td>

                                <td>
                                    {% set nota_restante = 21 - ((nota.nota1 or 0) + (nota.nota2 or 0) + (nota.nota3 or 0)) %}
                                    
                                    {% if nota_restante <= 0 %}
                                        Já Passou!
                                    {% else %}
                                        {{ nota_restante }}
                                    {% endif %}
                                </td>
                                
                                <td>
                                    <a href="/deletar_nota?nota_id={{ nota.id }}" class="btn btn-danger btn-sm">Excluir
                                        Nota</a>

                                    <input type="submit" class="btn btn-primary btn-sm" value="Atualizar">
                                    
                                </td>
                            </form>
                            




                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}