{% extends "site.html" %}

{% block content %}
<div class="container mt-4">

<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('redefinir_senha', token=token) }}" method="POST">
    <img class="mb-4" src="" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Nova senha:</h1>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="name@example.com" name="password">
      <label for="password">Senha nova</label>
    </div>
     <div class="form-floating">
      <input type="password" class="form-control" id="password2" placeholder="name@example.com" name="password2">
      <label for="password2">Confirmar nova senha</label>
    </div>
   

    
    <button class="btn btn-primary w-100 py-2" type="submit">Redefinir</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2025</p>
  </form>
   <div class="text-center">
    <a href="/login"> Entrar</a>
    ou <a href="/cadastrar">Cadastre-se</a>
    
  </div>
</main>

    

</div>
{% endblock %}

